python-dotenv

openai
mistralai

langchain
langchain-community
langchain-core
langchain-openai
langchain-mistralai
langchain-text-splitters

chromadb

sentence-transformers

tiktoken
numpy
pandas

pypdf
unstructured

requests
tenacity

fastapi
uvicorn
langsmith